<tr class="table-tax-row" >
  <td>
    <%= row.row_type %>
  </td>
  <td>
    <%= row.row_name %>
  </td>
  <td>
    <%= row.row_measurement %>
  </td>
  <td>
    <%= row.row_value %>
  </td>
  <td>
    <%= link_to(remove_row_path, 'data-table-tax-row-id' => row.id.to_s, class:"btn btn-danger remove-table-tax-row") do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>