<tr>
  <th>Tipo</th>
  <th>Nome</th>
  <th>Peso</th>
  <th>Valor</th>
  <th>Ações</th>
</tr>
<%= fields_for :table_tax_row do |row| %>
<tr>
  <td>
    <div class="form-group">
      <%= row.select :row_type, TableTaxRow.row_type_options, {:prompt => '-- Selecione --'}, class: "form-control input-row row-type" %>
    </div>
  </td>
  <td>
    <div class="form-group">
      <%= row.text_field :row_name, class: "form-control input-row row-name", placeholder: "Nome Tributo"%>
    </div>
  </td>
  <td>
    <div class="form-group">
      <%= row.select :row_measurement, TableTaxRow.row_measurement_options, {:prompt => '-- Selecione --'}, class: "form-control input-row row-measurement"%>
    </div>
  </td>
  <td>
    <div class="form-group">
      <%= row.number_field :row_value, class: "form-control input-row row-value", placeholder: "0.0", min: 0, :step => 0.01 %>
    </div>
  </td>
  <td>
    <%= link_to(create_row_path, class:"btn btn-primary add-table-tax-row") do %>
      <i class="fa fa-check" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
<div class="list-tax-rows-list"></div>
<% end %>