<!DOCTYPE html>
<html>
<head>
	<title>Finance | <%= yield(:title) %></title>
	<link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="/assets/finance-icon.png">
	
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<% if user_signed_in? %>
		<%= javascript_include_tag 'application'%>
	<% end %>
	<% if content_for?(:head) %>
		<%= yield(:head) %>
	<% end %>
</head>
<body>
	<% if content_for?(:page_modal) %>
		<%= yield(:page_modal) %>
	<% end %>

	<div class="container-fluid">
		<%= render "/layouts/menu" %>		
		<%= yield %>

		<%= alert_flash_message.html_safe if alert_flash_message %>
	</div>
</body>
</html>